# Ignore virtual environment
venv/

# Ignore output/input files
bank_files/

aux/

# Ignore pycache
__pycache__/

# Ignore Python byte code
*.pyc

# Ignore Python distributions
*.egg
*.egg-info
dist/
build/

# Ignore temp files
*~
\#*
*.DS_Store
